<div class="apx_responsive-baner">
  <div class="<%= opt.container || opt.spacing.container %> 
    mt-md-<%= opt.spacing?.desktop ? opt.spacing.desktop.margin_top : 0 %>
    mt-<%= opt.spacing?.mobile ? opt.spacing.mobile.margin_top : 0%>
    mb-md-<%= opt.spacing?.desktop ? opt.spacing.desktop.margin_bottom : 0%>
    mb-<%= opt.spacing?.mobile ? opt.spacing.mobile.margin_bottom : 0%>
    pt-md-<%= opt.spacing?.desktop ? opt.spacing.desktop.padding_top : 0%>
    pt-<%= opt.spacing?.mobile ? opt.spacing.mobile.padding_top : 0 %>
    pb-md-<%= opt.spacing?.desktop ? opt.spacing.desktop.padding_bottom : 0 %>
    pb-<%= opt.spacing?.mobile ? opt.spacing.mobile.padding_bottom : 0 %>">
    <!-- <div class="<%= opt.padding %>"> -->
      <%- await include('@/sections/inc/apx_banner', { _, opt }) %>
    <!-- </div> -->
  </div>
</div>
