<%
// load footer options and contacts from content
const footer = _.cms('footer') || {}
const contacts = _.cms('contacts') || {}
const themeCustom = _.settings.theme.custom || ''
%>

<footer class="footer">
  <div class="newsletter py-4 mb-md-5 mb-4">
    <div class="container">
      <div class="row align-items-center justify-content-center">

        <% if (footer.contacts.socials) { %>
          <div class="col-12 col-md-auto">
            <div class="d-md-flex d-block align-items-center">
            <h4 class="d-md-inline d-block mb-md-0 mr-md-4" style="color: var(--color1);">Siga-nos nas redes sociais</h4>
            <p class="footer__social m-0">
              <%- await include('@/layout/inc/networks', { _, contacts }) %>
            </p>
            </div>
          </div>
        <% } %>        
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row justify-content-between">
      <div class="col-12 col-lg-3">
        <div class="footer__contacts">
          <% if (footer.contacts.title) { %>
            <div class="footer__title">
              <%= footer.contacts.title %>
            </div>
          <% } %>

          <ul class="list-unstyled">
            <% if (footer.contacts.phone_wpp) { %>
              <% if (contacts.whatsapp) { %>
                <li>
                  <span class="footer__list-icon">
                    <img src="./assets/footer_whatsapp.svg"/>
                  </span>
                  <a
                    href="javascript:;"
                    target="_blank"
                    rel="noopener"
                    class="whatsapp-link"
                    data-tel="<%= contacts.whatsapp.replace(/\D/g, '') %>"
                  >
                    <small>Whatsapp</small>
                    <%= contacts.whatsapp %>
                  </a>
                </li>
              <% } %>
              <% if (contacts.phone) { %>
                <li>
                  <span class="footer__list-icon">
                    <img src="./assets/footer_phone.svg"/>
                  </span>
                  <a
                    href="tel:+<%= contacts.phone.replace(/\D/g, '') %>"
                    target="_blank"
                    rel="noopener"
                  >
                    <small>Telefone</small>
                    <%= contacts.phone %>
                  </a>
                </li>
              <% } %>
            <% } %>
            <% if (footer.contacts.email) { %>
              <li>
                <span class="footer__list-icon">
                  <img src="./assets/footer_mail.svg"/>
                </span>
                <a href="mailto:<%= contacts.email %>" target="_blank" rel="noopener">
                  <small>E-mail</small>
                  <%= contacts.email %>
                </a>
              </li>
            <% } %>
            <% if (footer.contacts.address) { %>
              <li class="d-md-flex d-none">
                <span class="footer__list-icon">
                  <img src="./assets/footer_address.svg"/>
                </span>
                <address>
                  <small>Endereço</small>
                  <%= contacts.address %>
                </address>
              </li>
            <% } %>
            <li>
              <span class="footer__list-icon">
                <img src="./assets/footer_clock.svg"/>
              </span>
              <p>
                <small>Atendimento</small>
                Seg. à Sex. das 8h às 17h
              </p>
            </li>
          </ul>

          
        </div>
      </div>
      
        <% if (footer.links_1.list_pages || footer.links_1.list.find(({ url }) => url)) { %>
          <div class="col-12 col-md-auto">
              <a
                class="footer__title"
                data-toggle="collapse"
                href="#footer-pages"
                role="button"
                aria-expanded="false"
                aria-controls="footer-pages"
              >
                <%= footer.links_1.title || _.dictionary('pages') %>
                <button type="button" class="d-inline d-md-none">                    
                  <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M5 7.5L10 12.5L15 7.5" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>  
                </button>
              </a>
              <div class="collapse" id="footer-pages">
                <% if (footer.links_1.list_pages) { %>
                  <ul class="footer__links">
                    <% (_.cms('pages') || []).forEach(slug => { %>
                      <% const { title } = _.cms(`pages/${slug}`) %>
                      <li>
                        <i class="i-chevron-right"></i>
                        <a href="/pages/<%= slug %>">
                          <%= title %>
                        </a>
                      </li>
                    <% }) %>
                  </ul>
                <% } else { %>
                  <ul class="footer__links">
                    <% footer.links_1.list.forEach(({ url, text }) => { %>
                      <li>
                        <i class="i-chevron-right"></i>
                        <a href="<%= url %>">
                          <%= text %>
                        </a>
                      </li>
                    <% }) %>
                  </ul>
                <% } %>
              </div>
            </div>
          <% } %>
    
          <% if (footer.links_2.list_categories || footer.links_2.list.find(({ url }) => url)) { %>
            <div class="col-12 col-md-auto">
              <a
                class="footer__title"
                data-toggle="collapse"
                href="#footer-categories"
                role="button"
                aria-expanded="false"
                aria-controls="footer-categories"
              >
                <%= footer.links_2.title || _.dictionary('categories') %>
                <button type="button" class="d-inline d-md-none">                    
                  <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M5 7.5L10 12.5L15 7.5" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>  
                </button>
              </a>
              <div class="collapse" id="footer-categories">
                <% if (footer.links_2.list_categories) { %>
                  <ul class="footer__links">
                    <% _.categories.slice(0,3).forEach(({ name, slug, parent }) => { %>
                      <% if (!parent) { %>
                        <li>
                          <i class="i-chevron-right"></i>
                          <a href="/<%= slug %>">
                            <%= name %>
                          </a>
                        </li>
                      <% } %>
                    <% }) %>
                  </ul>
                <% } else { %>
                  <ul class="footer__links">
                    <% footer.links_2.list.forEach(({ url, text }) => { %>
                      <li>
                        <i class="i-chevron-right"></i>
                        <a href="<%= url %>">
                          <%= text %>
                        </a>
                      </li>
                    <% }) %>
                  </ul>
                <% } %>
              </div>
            </div>
          <% } %>
    
          <div class="col-12 col-md-auto">
            <div class="">
              <a
                class="footer__title"
                data-toggle="collapse"
                href="#footer-payments"
                role="button"
                aria-expanded="false"
                aria-controls="footer-payments"
              >Pagamento
              <button type="button" class="d-inline d-md-none">                    
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M5 7.5L10 12.5L15 7.5" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                  </svg>  
              </button>
              </a>
              <p class="footer__payment-methods collapse" id="footer-payments">
                <% Object.keys(footer.payment_methods).forEach(method => { %>
                  <% if (footer.payment_methods[method]) { %>
                    <i class="pay-icon pay-icon--<%= method %>"></i>
                  <% } %>
                <% }) %>
              </p>
              <a
                class="footer__title"
                data-toggle="collapse"
                href="#footer-security"
                role="button"
                aria-expanded="false"
                aria-controls="footer-security"
              >Segurança
              <button type="button" class="d-inline d-md-none">                    
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M5 7.5L10 12.5L15 7.5" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                  </svg>  
              </button>
              </a>
              <div class="footer__stamps collapse" id="footer-security">
                <%- await include(`@/sections/stamps`, { _, opt: { stamps: footer.stamps } }) %>
              </div>
            </div>
          </div>
        </div>
    
  
      
    <div class="footer__credits">
      <div class="p-0 w-100">
        <div class="row align-items-center justify-content-center text-center credits">
          <div class="col-12 col-md">
            <span class="d-block text-center">
              <small class="d-block text-center">
                <%- footer.credits || `© ${_.store.name} / ${contacts.address} / ${contacts.doc_number}` %>
              </small>
            </span>
          </div>
          
        </div>
      </div>      
    </div>
  </div>  
</footer>
<button
  id="go-to-top"
  class="btn btn-primary ml-3 d-none"
  type="button"
  aria-label="<%= _.dictionary('goToTop') %>"
>
  <i class="i-chevron-up"></i>
</button>

