<% if (Array.isArray(opt.items) && opt.items.length) {
  const title = opt.title ||
    (opt.collection && opt.collection.name) ||
    _.dictionary('popularProducts')
  const link = opt.link || (opt.collection && `/${opt.collection.slug}`)

  if (opt.shuffle) {
    let m = opt.items.filter(item => {
      return item.available && _.ecomUtils.inStock(item)
    }).length
    let t, i
    while (m) {
      i = Math.floor(Math.random() * m--)
      t = opt.items[m]
      opt.items[m] = opt.items[i]
      opt.items[i] = t
    }
  }
  %>

  <section
    class="products-carousel"
    data-size="<%= opt.items.length %>"
    <% if (opt.collection) { %>
      data-collection-id="<%= opt.collection._id %>"
    <% } %>
    data-title="<%= title %>"
  >
    <div class="d-flex justify-content-between align-items-center">
      <% if (!opt.headless) { %>
        <h4 class="products-carousel__title font-weight-700">
          <%= title %>
        </h4>
      <% } %>

      
    </div>

    <ul class="ul__slides products-carousel__list">
      <% for (let i = 0; i < opt.items.length; i++) { %>
        <li class="ul__slide products-carousel__item">
          <%- await include('@/sections/inc/product-item', {
            _, opt: { item: opt.items[i] }
          }) %>
        </li>
      <% } %>
    </ul>

    
  </section>
<% } %>
